body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile {
    border: solid black;
    
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;

    
}
button{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: white; 
    color: black; 
    
    border-radius: 5%;
    padding: 16px 32px;
    box-shadow: darkgray;
}

button:hover {
    background-color: #4CAF50;
    color: white;
  }

.messege-area{
    display: inline-grid;
    grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
    grid-template-rows: 1fr 2fr;
}
.mentor-space{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.learner-choices {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: right;
}
.learner-choices ul{
    align-items: right;
}

.learner-choices li{
    margin: .7em;
}

.responsive{
    width: 100%;
    height:auto;
}

ul{
    list-style: none;
}

span{
    opacity: 0;
    transition: all 0.0001s ;
}

span.fade{
    opacity: 1;
}
